In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("index_fish.csv", names=["image", "label"])

In [4]:
df['image'] = df['image'].str.replace(" ","")

In [10]:
df.to_csv('index.csv')

In [7]:
df['image'] = df['image'].str[3:]

In [8]:
df['image'] = 'gs://coralmorph_fish_1/images/' + df['image'].astype(str)

In [9]:
df

                                                image      label
0     gs://coralmorph_fish_1/images/Abudefduf001.jpeg  Abudefduf
1     gs://coralmorph_fish_1/images/Abudefduf002.jpeg  Abudefduf
2     gs://coralmorph_fish_1/images/Abudefduf003.jpeg  Abudefduf
3     gs://coralmorph_fish_1/images/Abudefduf004.jpeg  Abudefduf
4     gs://coralmorph_fish_1/images/Abudefduf005.jpeg  Abudefduf
...                                               ...        ...
5439   gs://coralmorph_fish_1/images/Urobatis206.jpeg   Urobatis
5440   gs://coralmorph_fish_1/images/Urobatis207.jpeg   Urobatis
5441   gs://coralmorph_fish_1/images/Urobatis208.jpeg   Urobatis
5442   gs://coralmorph_fish_1/images/Urobatis209.jpeg   Urobatis
5443   gs://coralmorph_fish_1/images/Urobatis210.jpeg   Urobatis

[5444 rows x 2 columns]